<h1>Book a flight with us!</h1>

<h2>Search for a flight:</h2>

<%= form_with method: 'get' do %>
  <div>
    <%= label_tag("flight_data[departure_airport]", 'Departure airport:') %>
    <%= select_tag("flight_data[departure_airport]", options_for_select(@departure_airport_options)) %>
  </div>
  <div>
    <%= label_tag("flight_data[arrival_airport]", 'Arrival airport:') %>
    <%= select_tag("flight_data[arrival_airport]", options_for_select(@arrival_airport_options)) %>
  </div>
  <div>
    <%= label_tag("flight_data[date]", 'Date of flight:') %>
    <%= select_tag("flight_data[date]", options_for_select(@date_options)) %>
  </div>
  <div>
    <%= label_tag("flight_data[num_of_passengers]", 'Number of passengers:') %>
    <%= select_tag("flight_data[num_of_passengers]", options_for_select([1,2,3,4])) %>
  </div>
  <div><%= submit_tag('Search') %></div>
<% end %>

<% if @matching_flights.nil? %>
  <p>...Search results will appear here...</p>
<% elsif @matching_flights.empty? %>
  <p>...No results found...</p>
<% else %>
  <h3>Available flights:</h3>
  <h4>From: <%= @flight_params['flight_data']['departure_airport'] %>, To: <%= @flight_params['flight_data']['arrival_airport'] %>, Date: <%= @flight_params['flight_data']['date'] %>, Number of passengers: <%= @flight_params['flight_data']['num_of_passengers'] %>:</h4>
  <%= form_with url: '/bookings/new', method: 'get' do %>
    <ul>
    <% @matching_flights.each do |f| %>
      <li><%= radio_button_tag(:chosen_flight_id, f.id) %>Time of departure: <%= f.date.strftime("%k:%M") %>, Duration: <%= f.duration_in_hours %>hr</li>
    <% end %>
    </ul>
    <%= hidden_field_tag :passengers_num, @flight_params['flight_data']['num_of_passengers'] %>
    <div><%= submit_tag('Submit') %></div>
  <% end %>
<% end %>