<%= form_with model: @booking do |f| %>
  <div>
    <%= label_tag :flight_date, "Flight date:" %>
    <%= text_field_tag :flght_date, @chosen_flight.date.strftime("%k:%M, %d(%A)-%m-%Y"), :disabled => true %>
  </div>
  <div>
    <%= label_tag :dep_airport, "Departure airport:" %>
    <%= text_field_tag :dep_airport, @chosen_flight.departure_airport.code, :disabled => true %>
  </div>
  <div>
    <%= label_tag :arr_airport, "Arrival airport:" %>
    <%= text_field_tag :arr_airport, @chosen_flight.arrival_airport.code, :disabled => true %>
  </div>
  <div>
    <%= label_tag :flight_id, "Flight ID:" %>
    <%= text_field_tag :flight_id, @flight_id, :readonly => true %>
  </div>
  <% n = 0 %>
  <%= f.fields_for :passengers do |p| %>
    <% n += 1 %>
    <div data-controller="add-or-remove-passenger" data-add-or-remove-passenger-count-value=<%= n %>>
      <div data-add-or-remove-passenger-target="template">
        <h4>Passenger :</h4>
        <div>
          <%= p.label(:name, "Name:") %>
          <%= p.text_field(:name) %>
        </div>
        <div>
          <%= p.label(:email, "Email:") %>
          <%= p.text_field(:email) %>
        </div>
        <button type="button" data-action="add-or-remove-passenger#hideTemplate">Remove passenger</button>
      </div>
    </div>
  <% end %>
  <div data-controller="add-or-remove-passenger" data-add-or-remove-passenger-count-value=<%= n %>>
    <button type="button" data-action="add-or-remove-passenger#showTemplate:once">Add another passenger</button>
    <template data-add-or-remove-passenger-target="addTemplate">
      <div data-add-or-remove-passenger-target="template">
        <h4>Passenger :</h4>
        <%= f.fields_for :passengers, @booking.passengers.build do |p| %>
          <div>
            <%= p.label(:name, "Name:") %>
            <%= p.text_field(:name) %>
          </div>
          <div>
            <%= p.label(:email, "Email:") %>
            <%= p.text_field(:email) %>
          </div>
        <%end%>
        <button type="button" data-action="add-or-remove-passenger#hideTemplate">Remove passenger</button>
      </div>
    </template>
  </div>
  <%= submit_tag("Book this flight and submit passenger(s) details") %>
<% end %>

